{% extends "base.html" %}
{% block content %}

{{ macros.m_button_group([['globalSettingSaveBtn', '설정 저장'], ['globalOneExecuteBtn', '1회 실행'], ['globalImmediatelyExecuteBtn', '즉시 실행']])}}
{{ macros.m_row_start('5') }}
{{ macros.m_row_end() }}

<nav>
  {{ macros.m_tab_head_start() }}
    {{ macros.m_tab_head('normal', '설정', true) }}
    {{ macros.m_tab_head('auto', '자동', false) }}
    {{ macros.m_tab_head('db', 'DB', false) }}
  {{ macros.m_tab_head_end() }}
</nav>
<form id='setting'>
  <div class="tab-content" id="nav-tabContent">
    {{ macros.m_tab_content_start('normal', true) }}
      {{ macros.setting_input_text_and_buttons('basic_path_source', '소스 폴더', [['select_basic_path_source_btn', '경로 선택']], desc=['영상이 있는 폴더'], value=arg['basic_path_source']) }}
      {{ macros.setting_input_text_and_buttons('basic_path_target', '타겟 폴더', [['select_basic_path_target_btn', '경로 선택']], desc=['파일이 이동할 폴더'], value=arg['basic_path_target']) }}
      {{ macros.setting_input_text_and_buttons('basic_path_error', '에러 폴더', [['select_basic_path_error_btn', '경로 선택']], desc=['빈값이면 동작하지 않음.'], value=arg['basic_path_error']) }}
       {{ macros.m_hr() }}
      {{ macros.setting_input_text('basic_folder_format', '타겟 폴더 구조', desc=['예) {genre}/{title} : 예능/무한도전', '예) {genre}/{title} ({year}) [{studio}-{release}] : 드라마/마인 (2021) [tvN-ST]', '', '사용 가능 : {title} {year} {studio} {genre} {release}'], value=arg['basic_folder_format']) }}
      {{ macros.setting_input_text_and_buttons('basic_path_config', '설정 파일', [['edit_path_config_btn', '편집']], value=arg['basic_path_config']) }}
    {{ macros.m_tab_content_end() }}  

    {{ macros.m_tab_content_start('auto', false) }}
      {{ macros.global_setting_scheduler_button(arg['is_include'], arg['is_running']) }}
      {{ macros.setting_input_text('basic_interval', '스케쥴링 실행 정보', value=arg['basic_interval'], col='3', desc=['Inverval(minute 단위)이나 Cron 설정']) }}
      {{ macros.setting_checkbox('basic_auto_start', '시작시 자동실행', value=arg['basic_auto_start'], desc='On : 시작시 자동으로 스케쥴러에 등록됩니다.') }}
    {{ macros.m_tab_content_end() }}
    {{ macros.m_tab_content_start('db', false) }}
      {{ macros.setting_input_text_and_buttons('basic_db_delete_day', 'DB 삭제 기간', [['globalDbDeleteDayBtn', '기간 적용 삭제', [['tag_id','basic_db_delete_day']]], ['globalDbDeleteBtn', '전체 삭제']], value=arg['basic_db_delete_day'], col='6') }} 
      {{ macros.setting_checkbox('basic_db_auto_delete', 'DB 자동 삭제', value=arg['basic_db_auto_delete'], desc=['On : 기간 적용하여 DB를 자동 삭제합니다.']) }}
    {{ macros.m_tab_content_end() }} 
  </div>
</form>



<script type="text/javascript">

$(document).ready(function(){
});


$("body").on('click', '#select_basic_path_source_btn', function(e){
  e.preventDefault();
  var path = $('#basic_path_source').val().trim();
  if (path == '') path = '/'
  m_select_local_file_modal("소스 폴더", path, true, function(result){
    $('#basic_path_source').val(result);
  });
});

$("body").on('click', '#select_basic_path_target_btn', function(e){
  e.preventDefault();
  var path = $('#basic_path_target').val().trim();
  if (path == '') path = '/'
  m_select_local_file_modal("타겟 폴더", path, true, function(result){
    $('#basic_path_target').val(result);
  });
});

$("body").on('click', '#select_basic_path_error_btn', function(e){
  e.preventDefault();
  var path = $('#basic_path_error').val().trim();
  if (path == '') path = '/'
  m_select_local_file_modal("에러 폴더", path, true, function(result){
    $('#basic_path_error').val(result);
  });
});

$("body").on('click', '#edit_path_config_btn', function(e){
  e.preventDefault();
  var config_path = $('#basic_path_config').val().trim();
  url = "/flaskcode" + config_path.replace(path_app_root, '');
  window.location.href = url;
});
</script>    
{% endblock %}
